{% extends 'mall/layout.html' %}

{%block body%}
    
    <div class="container my-3">
      <h1>Contact us</h1>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Your email" aria-label="Your email" aria-describedby="basic-addon2">
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Phone no" aria-label="Phone no" aria-describedby="basic-addon2">
          </div>
          
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Your Query</span>
            </div>
            <textarea class="form-control" aria-label="With textarea"></textarea>
          </div>
          <button class='btn btn-primary my-5'>Submit</button>
    </div>
    <hr>
    <strong>    <p>Call us @ XXX-XXX-XXXX</p>
    </strong>
{% endblock %}