{% extends 'mall/layout.html' %}

{% block body %}
{% load static %}
    <div class="container">
      <div class="row">
        {% for i in product%}
        
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <img src="../../static/mall/download.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{i.product_name }}</h5>
              <p class="card-text">{{i.product_des }}</p>
              <span id='divpr{{i.id}}'>
                <button id='pi{{i.id}}' class="btn btn-primary cart">Add to Cart</button>
              </span>
              <a href="/mall/product/{{i.id}}" id='pv{{i.id}}' class="btn btn-primary">View Product</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>


{% endblock %}
