{% extends 'mall/layout.html' %}

{% block body %}

<div class="container my-5">
    <div class="row">
        <div class="col-4">
            <img src="../../static/mall/download.jpg" width='300px' height='400px'>
        </div>
        <div class="col">
            <h4>{{product.product_name}}</h4>
            <p>{{product.product_des}}</p>
            <h7>{{product.price}}</h7>
            <div>
                <button id='pi{{product.id}}' class="btn btn-primary cart">Add to Cart</button>
            </div>
        </div>
        <button        

    </div>
</div>


{% endblock %}
